
@media only screen and (max-width: 768px){
    html {
        font-size: 18px !important;
    }
    .main {
        padding: 6rem 2rem 4rem 1rem;
    }
    .content {
        padding: 6rem 1rem 4rem;
    }
    .title p {
        font-size: 2rem !important;
        line-height: 3.8rem !important;
    }
    footer {
        padding-top: 1rem;
        padding-right: 2rem;
    }
}
@media only screen and (min-width: 768px){
    html {
        font-size: 20px !important;
    }
    .main {
        padding: 6rem 3rem 4rem 1.5rem;
    }
    .content {
        padding: 6rem 1rem 4rem;
    }
    footer {
        padding-top: 1rem;
        padding-right: 2rem;
    }
}
@media only screen and (min-width: 992px){
    html {
        font-size: 22px !important;
    }
    .main {
        padding: 6rem 8rem 4rem 4rem;
    }
    .content {
        padding: 6rem 2rem 4rem;
    }
    footer {
        padding-top: 2rem;
        padding-right: 4rem;
    }
    .inner-left-button {
        width: 28rem;
    }
}
@media only screen and (min-width: 1150px){
    html {
        font-size: 23px !important;
    }
    .main {
        padding: 6rem 10rem 4rem 8rem;
    }
    .content {
        padding: 6rem 4rem 4rem;
    }
    footer {
        padding-top: 3rem;
        padding-right: 10rem;
    }
    .inner-left-button {
        width: 27rem;
    }
}
@media only screen and (min-width: 1200px){
    html {
        font-size: 24px !important;
    }
    .main {
        padding: 6rem 10rem 4rem 8rem;
    }
    .content {
        padding: 6rem 4rem 4rem;
    }
    footer {
        padding-top: 3rem;
        padding-right: 10rem;
    }
    .inner-left-button {
        width: 30rem;
    }
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Microsoft YaHei UI Regular, Microsoft YaHei UI Regular-Regular;
}
body {
    background: none;
}
.background {
    background: url("../icon/icon/jieguoback.png");
    background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
    padding-bottom: 4.6rem;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 1.2rem;
}
.button button {
    width: 4.8rem;
    height: 1.7rem;
    background: #5db2e8;
    border-radius: 5px;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 27px;
    border: none;
}
.main {
    display: flex;
    justify-content: space-between;
}
.content {
    width: 50%;

}

.content p {
    font-size: 0.8rem;
    line-height: 1rem;

    font-weight: 400;
    text-align: left;
    color: #000000;
    letter-spacing: 0.1rem;
}
footer {
    display: flex;
    flex-direction: row-reverse;
}
footer button {
    height: 2.5rem;
    width: 10rem;
    font-size: 1rem;
    background: #38a1e3;
    border-radius: 21px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 28px;
    letter-spacing: 3px;
    border: none;
}

.foot_img {
    background: url("../icon/icon/bcg.png");
    padding-bottom: 2rem;
}

.img_nue {
    width: 90%;
    padding: 0 0.3rem;
    margin: 2rem auto;
    border-radius: 0.3rem;
    overflow: hidden;
}

.img_nue img {
    padding-top: 2rem;
    width: 100%;
}

.title button {
    width: 9.5rem;
}
